{{ ansible_managed }}

{% if not kafka_cluster %}
broker.id=0
{% endif %}

zookeeper.connect={% for node in groups['kafka_nodes'] %}{{ hostvars[node]['ansible_default_ipv4']['address'] }}:2181{% if not loop.last %},{% endif %}{%endfor%}
